<%- include('./partials/head') %>

    <div class="">
    <div><b style="color: white">Pozo 1</b></div>
    <ul>
        <li style="color: white"><a href="/login/simulation/1">Carga de parámetros y datos de simulación</a></li>
        <li style="color: white"><a href="/login/calibration/1">Calibración de modelo 1D</a></li>
        <li style="color: white"><a href="/login/pse-table/1">Elaboración de table resumen PSE</a></li>
        <li style="color: white"><a href="/login/toc-sensibility/1">Sensibilidad contenido orgánico total (TOC)</a></li>
        <li style="color: white"><a href="/login/hi-sensibility/1">Sensibilidad índice de hidrógeno (HI)</a></li>
        <li style="color: white"><a href="/login/kinetic-sensibility/1">Sensibilidad cinética del modelo</a></li>
        <li style="color: white"><a href="/login/lithology-sensibility/1">Sensibilidad cambio de litología</a></li>
    </ul>

    <div><b style="color: white">Pozo 2</b></div>
    <ul>
        <li style="color: white"><a href="/login/simulation/2">Carga de parámetros y datos de simulación</a></li>
        <li style="color: white"><a href="/login/calibration/2">Calibración de modelo 1D</a></li>
        <li style="color: white"><a href="/login/pse-table/2">Elaboración de table resumen PSE</a></li>
    </ul>
</div>








