<%- include('./partials/head') %>

<body class="gridBody">

    <div class="gridContainer4">

        <div class="gridItem4">
            <%- include('./partials/header') %>
        </div>

        <div class="gridItem4 gridItemInstructions">

            <div class="title2">Ejercicios de Sensibilidad</div>

            <div class="divInstructions">
                <ul class="instructionsUl">
                    <li class="instructionsLi2">
                        <h3 class="instructionsTitle">Carbono Orgánico Total (TOC)</h3>
                        <ul>
                            <li class="instructionsLi">Sepultamiento-Saturación de petróleo</li>
                            <li class="instructionsLi">Sepultamiento-Saturación de gas</li>
                       </ul>
                    </li>
                    <li class="instructionsLi2">
                        <h3 class="instructionsTitle">Índice de Hidrogeno (HI)</h3>
                        <ul>
                            <li class="instructionsLi">Sepultamiento-Saturación de petróleo</li>
                            <li class="instructionsLi">Sepultamiento-Saturación de gas</li>
                        </ul>
                    </li>
                    <li class="instructionsLi2">
                        <h3 class="instructionsTitle">Cinética del Modelo</h3>
                        <ul>
                            <li class="instructionsLi">Sepultamiento-Saturación de petróleo, Tissot-in-Waples ( 1992)
                            </li>
                            <li class="instructionsLi">Sepultamiento-Saturación de vapor, Tissot-in-Waples ( 1992)
                            </li>
                            <li class="instructionsLi">Comparativo: Original-Tissot en Saturación de petróleo
                            </li>
                            <li class="instructionsLi">Comparativo: Original-Tissot en Saturación de gas
                            </li>
                            
                        </ul>
                    </li>
                    
                </ul>

                <ul class="instructionsUl">
                    <li class="instructionsLi2">
                        <h3 class="instructionsTitle">Cambios en litología Shale-black por Sandstone-clay-rich</h3>
                        <ul>
                            <li class="instructionsLi">Sepultamiento-Saturación de petróleo</li>
                            <li class="instructionsLi">Sepultamiento-Saturación de gas</li>
                            <li class="instructionsLi">Comparativo Sepult-Sat-de petróleo: Shale-black – Shale-Typical - Sandstone-clay-rich</li>
                            <li class="instructionsLi">Comparativo Sepult-Sat-de Gas: Shale-black – Shale-Typical - Sandstone-clay-rich</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="divButtons divInstructionsButton">
                <div class="button5">
                    <a href="<%= continueRoute %>">
                        Continuar
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>



