<div class="divChartsButtons">

    <!---back button--->
    <a href="<%= data.backRoute %>" id="<%= data.idBackButton %>">
        <div class="button3">
            <div><i class="fa-solid fa-chevron-left"></i></div>
            <div>Volver</div>
        </div>
    </a>

    <!---continue--->
    <div class="button3 <%= locals.validation && validation == 'fail' ? 'unabledButton2' : null %>">
        <div><a href="<%= data.continueRoute %>">Continuar</a></div>
        <div><i class="fa-solid fa-chevron-right"></i></div>
    </div>
</div>