<!---return popup--->
<div class="logoutPopup" id="confirmDataPopup">
    <div class="logoutPopupContent">
        <div class="confirmPopupText">
            <div><i class="fa-solid fa-circle-check"></i></div>
            <div>Datos ingresados correctamente, puede continuar.</div>
        </div>
        <div class="logoutPopupButtons">
            <div id="okButton" class="logoutPopupButton">Aceptar</div>
        </div>
    </div>
</div>