<!---confirm logout--->
<div class="logoutPopup" id="logoutPopup">
    <div class="logoutPopupContent">
        <div class="logoutPopupText">
            <div>Si cierra sesión en este momento perderá los datos guardados hasta el momento del ejercicio: <b><%= exerciseName %></b>.</div>
            <div>¿Desea continuar?</div> 
        </div>
        <div class="logoutPopupButtons">
            <a href="" id="logoutAcceptButton" class="logoutPopupButton">Aceptar</a>
            <div id="logoutCancelButton" class="logoutPopupButton">Cancelar</div>
        </div>
    </div>
</div>