<!---return popup--->
<div class="logoutPopup" id="returnPopup">
    <div class="logoutPopupContent">
        <div class="logoutPopupText">
            <div>Si vuelve sin validar previamente podría perder datos.</b>.</div>
            <div>¿Desea continuar?</div> 
        </div>
        <div class="logoutPopupButtons">
            <a href="" id="returnAcceptButton" class="logoutPopupButton">Aceptar</a>
            <div id="returnCancelButton" class="logoutPopupButton">Cancelar</div>
        </div>
    </div>
</div>