
<div class="userLogged">
    <% if (locals.isLogged) { %>
        <div class="userLoggedName">
            <%= userLogged.first_name + ' ' + userLogged.last_name %>
        </div>
        <div>
            <a href="<%= '/logout/' + processName + '/' + idWell %>" class="logout">
                Cerrar sesión
            </a>
        </div>
    <% } %>
</div>

