
<div class="divChart">                
    <div class="chartTitle"><%= data.chartData.pageChartsInfo[0].chartTitle %></div>
    <div class="chart" id="myChart1"style="margin-left: <%= data.chartData.marginLeft %>; margin-top: <%= data.chartData.marginTop %>">
        <div id="tooltip" style="position: absolute; visibility: hidden;"></div>
    </div>                
</div>

<script type="module" src="/js/charts/charts1.js"></script>