
<div class="divChart">                
    <div class="chartTitle"><%= data.chartData.pageChartsInfo[1].chartTitle %></div>
    <div class="chart" id="myChart3"style="margin-left: <%= data.chartData.marginLeft %>; margin-top: <%= data.chartData.marginTop %>">
        <div id="tooltip" style="position: absolute; visibility: hidden;"></div>
    </div>                
</div>

<script type="module" src="/js/charts/charts3.js"></script>